.accueil__section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #0f0f0f;
  position: relative;
}

.accueil__part--1, .accueil__part--2{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accueil__part--1{
  overflow: hidden;
  position: relative;
}

.accueil__part--1--filtre{
  position: absolute;
  height: 100vh;
  width: 100%;
  background: black;
  opacity: 10%;
}

.accueil__part--2{
  flex-direction: column;
  padding: 2rem;
  h1{
    color: white;
    text-align: center;
    position: relative;
  }
  p{
    max-width: 45rem;
    text-align: center;
  }
}

.accueil__part--1--video{
  height: 100vh;
}

.accueil__part--2--title--container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.accueil__part--2--image--container{
  position: absolute;
}

